div.updated, div.error {
	margin: 10px 20px 5px 2px;
}

#gk-container {
	
	width: 830px;
	margin: 15px 0 15px 2px;
}
#gk-container .header {
	padding: 10px;
	border: 1px solid #D8D8D8;
	 border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset, -1px -1px 0 rgba(255, 255, 255, 0.2) inset;
    height: 50px;
    
    /* fallback */ 
    background-color: #EBEBEB; 
    background: url(../Images/linear_bg_2.png); 
    background-repeat: repeat-x; 
    
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBEBEB), to(#F9F9F9)); 
    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #F9F9F9, #EBEBEB); 
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(top, #F9F9F9, #EBEBEB); 
    /* IE 10 */ 
    background: -ms-linear-gradient(top, #F9F9F9, #EBEBEB); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(top, #F9F9F9, #EBEBEB);
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EBEBEB', EndColorStr='#F9F9F9', GradientType=0);
}
#gk-container .top-menu {
	border: 1px solid #D8D8D8;
	border-top: 1px solid #fff;
	background: #EBEBEB;
	padding: 5px 10px;
	overflow: hidden;
}
#gk-container .top-menu  ul li {
	margin: 0;
}
#gk-container .top-menu  ul li.right {
    float: right;
}
#gk-container .main {
	background-color: #F1F1F1;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    overflow: hidden;
}
#gk-container .content {
	float: left;
	width: 598px;
	min-height: 650px;
	padding: 15px 20px;
	background-color: #FFFFFF;
    border-left: 1px solid #D8D8D8;
    margin-left: -1px;
}
#gk-container h3 span {
    color: #CCCCCC;
    font-size: 10px;
}

/**
 * Submenu sidebar layout
 */
.submenu-sidebar {
	 float: left;
    margin: 0 20px 0 0;
    width: 230px;
}
.submenu-sidebar .postbox{
	min-width: 230px;
}
.submenu-sidebar .postbox h3 {
    cursor: default;
    font-size: 12px;
    padding: 7px 9px;
}
.submenu-sidebar ul {
	margin: 0 0 0 10px;
}
.submenu-sidebar ul li {
    cursor: pointer;
}
.submenu-sidebar .postbox > ul > li > a {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.submenu-sidebar .postbox ul ul li a {
	color: #333333;
    display: block;
    text-decoration: none;
}
.submenu-sidebar .postbox ul ul li a:hover {
	text-decoration: underline;
}
.submenu-sidebar ul li a span {
    color: #999999;
}
.submenu-sidebar ul ul {
    margin: 5px 0 0 5px;
}
.submenu-sidebar ul ul li {
    margin-bottom: 4px;
}
.submenu-main {
    float: left;
    width: 348px;
}

/**
 * Main menu
 */
#gk-container .menu {
	width: 190px;
	float: left;
    position: relative;	
}
#gk-container .menu  ul li{
	margin: 0;	
}
#gk-container .menu ul li a:link, #gk-container .menu ul li a:visited {
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #FFFFFF;
    color: #797979;
    display: block;
    font: bold 12px/18px sans-serif;
    padding: 10px 5px 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
#gk-container .menu  ul li.current a, #gk-container .menu ul li a:hover {
    background-color: #FFFFFF;
    color: #21759B;
}

#gk-container .menu  ul.sub {
	display: none;
}

#gk-container .menu  ul li.current ul.sub {
	display: block;
	background: #fff;
}
#gk-container .menu ul.sub{
	 border-bottom: 1px solid #D8D8D8;
     margin-top: -5px;
}
#gk-container .menu ul.sub li a {
	display: block;
	border:none;
	padding: 5px 5px 5px 25px;
	font-weight: 500;
	color: #797979;
}
#gk-container .menu ul.sub li a:hover, #gk-container .menu ul.sub li.current a {
	color: #21759B;
}
/* form elements */
#gk-container .section {
	background-color: transparent;
    border: none;
    margin-bottom: 15px;
    width: 100%;
}
#gk-container .section h3.heading {
    border-bottom: 1px solid #E7E7E7;
    font-size: 1.1em;
    margin: 5px 0 10px;
    padding: 0 0 7px;
    padding: 0;
}
#gk-container .section > div {
    padding: 0;
}
#gk-container .controls input[type=text], #gk-container .controls select, #gk-container .controls textarea {
    margin-bottom: 9px !important;
    background-color: #fafafa;
    border: 1px solid;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    width: 340px;
    padding: 5px;
    font-family: "Lucida Grande", Verdana,  sans-serif;
    font-size: 12px;
    color:#555;
}
#gk-container .controls input[type=checkbox], #gk-container .controls input[type=radio] {
	width: auto;
}
#gk-container textarea, #gk-container input, #gk-container select {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
}
#gk-container .controls input:hover, 
#gk-container .controls select:hover, 
#gk-container .controls textarea:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
}
#gk-container .section .controls {
    float: left;
    margin: 0 15px 0 0;
    width: 345px;
}
#gk-container .section .explain {
    color: #999999;
    float: left;
    font-family: sans-serif;
    font-size: 11px;
    padding: 0 10px 0 0;
    width: 225px;
}

#gk-container .submenu-main .section .controls,
#gk-container .submenu-main .section .explain {
	float: none;
	width: 100%;	
}
#gk-container .section-bool .controls {
    width: 20px;
   
}
#gk-container .section-bool .explain {
    width: 550px;
   
}
/* selects */
#gk-container .content .select_wrapper select {
    cursor: pointer;
    height: 28px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;
}
#gk-container .content .select_wrapper {
    background: url("../Images/select.png") no-repeat scroll right center #FAFAFA;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    display: block;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    height: 26px;
    margin-bottom: 9px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 344px;
}
#gk-container .content .option-type .select_wrapper {
    background-color: #FFFFFF;
}
#gk-container .content .select_wrapper:hover {
    background-color: #FFFFFF;
    border-color: #BBBBBB #EEEEEE #EEEEEE #BBBBBB;
    color: #333333;
}
#gk-container .content .select_wrapper span {
    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    position: absolute;
    z-index: 2;
}